{{ partial "header.html" . }}

{{ partial "navigation.html" . }}

<section class="section blog-single-page">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <img class="img-responsive post-thumb d-inline-block" width=250px height=250px src="{{ .Params.image | absURL }}" alt="blog-image">
                <h1 class="post-title">{{ .Title }}</h1>
                <ul class="list-inline mb-50 post-meta">
                    <li class="list-inline-item">{{ .Params.author }}</li>
                    <li class="list-inline-item">Posted on {{ dateFormat "Monday, Jan 2, 2006" .Date }}</li>
                    <li class="list-inline-item">{{ .ReadingTime }} min read</li>
                </ul>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <div class="post-single-content">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</section>

{{ partial "footer.html" . }}
