{{ if .Site.Params.about.enable }}
<br>
<section id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <img class="img-circle" width="200px" height="200px" src="{{ .Site.Params.about.bgImage | absURL }}" alt="About Logo" />
                    <h1 class="heading wow fadeInUp" data-wow-duration="400ms" data-wow-delay="100ms" >
                        {{ with .Site.Params.about.title }} {{ . | safeHTML }} {{ end }}
                    </h1>
                    <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">
                        {{ with .Site.Params.about.description }} {{ . | safeHTML }} {{ end }} 
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{{end}}
