{{ if .Site.Params.blog.enable}}
    <section id="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h1 class="heading">{{ with .Site.Params.blog.title }} {{ . | safeHTML }} {{ end }}</h1>
                        <ul>
                            {{ range first 3 (where .Site.RegularPages "Type" "blog") }}
                            <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="100ms">
                                <div class="blog-img">
                                    {{ with .Params.image }}<img src="{{ . | absURL }}" alt="post-image" class="img-responsive">{{ end }}
                                </div>
                                <div class="content-right">
                                    <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                                    <p>{{ .Summary }}</p>
                                    <span>{{ .PublishDate.Format "02 Jan 2006" }}</span> 
                                    <br>
                                    <span>{{ .ReadingTime }} min read</span>
                                </div>
                            </li>
                             {{ end }}
                         </ul>
                    </div>
                </div><!-- .col-md-12 close -->
            </div><!-- .row close -->
        </div><!-- .containe close -->
    </section><!-- #blog close -->

{{end}}