{{ if .Site.Params.contact.enable }}
	<section id="contact-us">
	    <div class="container">
	        <div class="row">
	            <div class="col-md-12">
	                <div class="block">
	                    <h1 class=" heading wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">{{ with .Site.Params.contact.title }} {{ . | safeHTML }} {{ end }}</h1>
	                    <h3 class="title wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="100ms">{{ with .Site.Params.contact.subtitle }} {{ . }} {{ end }}</h3>
	                    <form>
	                        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="100ms">
	                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Write your full name here...">
	                        </div>
	                        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="200ms">
	                            <input type="text" class="form-control" placeholder="Write your email address here...">
	                        </div>
	                        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms">
	                            <textarea class="form-control" rows="3" placeholder="Write your message here..."></textarea>
	                        </div>
	                    </form>
	                    <a class="btn btn-default wow bounceIn" data-wow-duration="500ms" data-wow-delay="1300ms" href="#" role="button">send your message</a>
	                </div>
	            </div><!-- .col-md-12 close -->
	        </div><!-- .row close -->
	    </div><!-- .container close -->
	</section><!-- #contact-us close -->
{{end}}